@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-border {
    box-shadow: 0 0 0 0px transparent;
}

.hidden-border a:hover {
    box-shadow: 0 0 0 1px lightgray;
    transition-duration: 0.3s;
}

::-webkit-scrollbar {
    width: 0px;
}